  .html{
    font-family: verdana;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;

  }
  .beginner-pro{
    font-family: verdana;
    font-size: 18px;
    color: gray;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .course{
    font-family: verdana;
    font-size: 14px;
    color: black;
    width: 300px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 18px;
  }
  .get-started{
    font-family: verdana;
    font-size: 14px;
    color: white;
    background-color: green;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    }